<!DOCTYPE html>
<html>
  <head>
    <noscript>
      <style type='text/css'>
        form { display: none }
      </style>
    </noscript>
    <style type='text/css'>
      body {
        font-family: sans-serif;
        max-width: 960px;
        margin: 50px auto;

        background-color: #fff0f0;
      }

      h1 {
        color: #663333
      }

      pre {
        background-color: #eeeeec;
        border: 1px solid #babdb6;
        border-radius: 2px;
        padding: 0.5em;
      }
    </style>
  </head>
  <body>
    <h1>403 Forbidden: missing authentication</h1>

    <p>
    To retry a test job, you need to be authenticated with a client certificate
    (e.g. Debian SSO), or with a API key. See the <a href="../../doc">API
    documentation</a> for more information.
    </p>

    <p>
    Once you are properly authenticated, just reload this page to get the retry
    form.
    </p>

  </body>
</html>
