Source: debci
Section: devel
Priority: optional
Maintainer: Antonio Terceiro <terceiro@debian.org>
Build-Depends:
 debhelper (>= 9.0.0),
 devscripts,
 ruby,
 faketime,
Standards-Version: 3.9.5
Homepage: http://ci.debian.net/
Vcs-Git: git://git.debian.org/users/terceiro/debci.git
Vcs-Browser: http://git.debian.org/?p=users/terceiro/debci.git;a=summary

Package: debci
Architecture: all
Depends:
 adduser,
 libjs-jquery,
 libjs-jquery-flot,
 autopkgtest (>= 2.7),
 dpkg-dev,
 schroot,
 perl,
 libjson-perl,
 ${shlibs:Depends},
 ${misc:Depends},
Recommends:
 apt-cacher-ng,
 moreutils,
Description: continuous integration system for Debian
 debci will scan the Debian archive for packages that contain DEP-8 compliant
 test suites, and run those test suites whenever a new version of the package,
 or of any package in its dependency chain (modulo the base system), is
 available.
