[Unit]
Description=debci collector daemon

[Service]
User=debci
WorkingDirectory=/usr/share/debci
ExecStart=/usr/share/debci/bin/debci collector

[Install]
WantedBy=multi-user.target
