[Unit]
Description=debci index generator
Documentation=https://ci.debian.net/doc/

[Service]
Type=oneshot
User=debci
Group=debci
ExecStart=/bin/sleep 1s
ExecStart=/usr/bin/debci update
