[Unit]
Description=debci collector daemon
After=rabbitmq-server.service network-online.target

[Service]
User=debci
WorkingDirectory=/usr/share/debci
ExecStart=/usr/share/debci/bin/debci collector
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
